
## TEST $entity

$entity 
$entity.xxx
$entitymqlsdk
${entity}xxx 
${ entity}
${entity } 
${entity  
$entity} 

##-- Single property
$entity.attributesmlke
${entity.attributes}mlke

$entity.attributesCount
${entity.attributesCount}
${ entity.attributesCount} 
${entity.attributesCount  
${entity.attributesCount } 

$entity.autoincrementedKeyAttributexx
$entity.autoincrementedKeyAttribute
xx${entity.autoincrementedKeyAttribute}xxxx

$entity.contextZZZ 
xxx$entity.context 
xx${entity.context}xxxx

$entity.databaseCatalog  
xxx$entity.databaseCatalog  
xx${entity.databaseCatalog}xxxx

$entity.databaseComment   
xxx$entity.databaseComment   
xx${entity.databaseComment}xxxx

$entity.databaseForeignKeys   
${entity.databaseForeignKeys}

$entity.databaseForeignKeysCount    
${entity.databaseForeignKeysCount}

$entity.databaseSchema     
${entity.databaseSchema}

$entity.databaseTable      
${entity.databaseTable}

$entity.databaseTablespace      
${entity.databaseTablespace}

$entity.databaseType       
${entity.databaseType}

$entity.domain        
${entity.domain}

$entity.fullName         
${entity.fullName}

$entity.keyAttribute         
${entity.keyAttribute}

$entity.keyAttributes 
${entity.keyAttributes}

$entity.keyAttributesCount  
${entity.keyAttributesCount}

$entity.links   
${entity.links}

$entity.linksCount   
${entity.linksCount}

$entity.name   
${entity.name}

$entity.nonKeyAttributes    
${entity.nonKeyAttributes}

$entity.nonKeyAttributesCount    
${entity.nonKeyAttributesCount}

$entity.nonTextAttributes     
${entity.nonTextAttributes}

$entity.package      
${entity.package}

$entity.referencedEntities       
${entity.referencedEntities }

$entity.referencedEntitiesForAllLevels       
${entity.referencedEntitiesForAllLevels}

$entity.references        
${entity.references}


$entity.referencesInDepth         
${entity.referencesInDepth}

$entity.selectedLinks          
${entity.selectedLinks}

$entity.sqlPrimaryKeyColumns           
${entity.sqlPrimaryKeyColumns}

$entity.sqlPrimaryKeyColumnsAsString           
${entity.sqlPrimaryKeyColumnsAsString}

$entity.sqlTableName            
${entity.sqlTableName}

$entity.superClass             
${entity.superClass}

$entity.textAttributes         
${entity.textAttributes}

##-- Function without parameter
$entity.hasAutoIncrementedKey() 
${entity.hasAutoIncrementedKey()} 

$entity.hasCollections()
${entity.hasCollections()}

$entity.hasCompositePrimaryKey() 
${entity.hasCompositePrimaryKey()} 

$entity.hasContext()
${entity.hasContext()}

$entity.hasDatabaseCatalog()
${entity.hasDatabaseCatalog()}

$entity.hasDatabaseComment()
${entity.hasDatabaseComment()}

$entity.hasDatabaseSchema()
${entity.hasDatabaseSchema()}

$entity.hasDatabaseTable()
${entity.hasDatabaseTable()}

$entity.hasDatabaseTablespace()
${entity.hasDatabaseTablespace()}

$entity.hasDomain()
${entity.hasDomain()}

$entity.hasForeignKeys()
${entity.hasForeignKeys()}

#if ( $entity.hasDatabaseComment() )
msldk
#end

##-- Function with parameter(s)
$entity.attributesNamesAsString( $separator, "", $c) 
${entity.attributesNamesAsString(",", $ccc)}

#set( $a2 = $entity.getAttributeByColumnName($c) )
Blabla${entity.getAttributeByColumnName($c)}Blabla
